/*
    Colours:

    DarkGrey: #2A2A2A
    Green: #79C152
    DarkGreen: #297142
    Red: #D31F42
    Bordeaux: #871741
    Yellow: #F3C02D
    Orange: #F7931D
    Brown: #934621
    DirtLight: #774D46
    DirtDark: #633534
    DirtDarker: #3A1717
*/

/*
    Text Formatting
*/

.title {
    width: 100%;
    margin: 10px 0;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: #F3C02D;
    
    font-family: ubuntu, sans-serif;
}

.heading {
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #F3C02D;

    font-family: ubuntu, sans-serif;
}

.subheading {
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: #F3C02D;
}

.byline {
    width: 100%;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
}

.description {
    width: 100%;
    margin: 1em 0;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
}

.body-text {
    font-size: 1.5em;
    line-height: 1.5em;
}

.highlighted {
    color: #F7931D;
}

a {
    color: #F7931D;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #F7931D;
}

a:focus {
    border-bottom: 2px solid #F7931D;
}

/*
    Structure
*/

body {
    margin: 0;
    font-family: ubuntu, sans-serif;
    color: #F3C02D;
    background: #633534;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 5%;
    padding: 2em 5%;
    background: #774D46;
}

.article-container .article:nth-of-type(2n) {
    background: #e0f0ff;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    background: #3A1717;
    color: #FFF;
}

footer span {
    text-align: center;
}

/*
    Sections
*/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5em 0;
}

section:first-of-type {
    margin-top: 3em;
}

/*
    Top bar
*/

.top-bar {
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #79C152;
    border-bottom: 0.5em solid #297142;
}

.top-bar nav {
    flex-grow: 10;
}

/*
    Icons
*/

.icon {
    width: 10em;
}

.top-bar .icon {
    width: 3em;
    margin: 0 3em;

    transition-property: width, margin;
    transition-duration: 200ms;
}

.top-bar .icon:hover {
    width: 4em;
    margin: -1em 2.5em;
}

section .icon {
    margin: 0 auto;
}

/*
    Screenshots
*/
.screenshot {
    width: 100%;
    margin: auto;
}

/*
    Navigation
*/

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3em;
    color: #FFF;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    flex-grow: 1;
    padding: 1em 0;
    color: #FFF;
    text-align: center;

    transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    -webkit-transition-property: background;
}

nav a:hover {
    background: rgba(41,113,66,0.5);
    border-bottom: none;
}

nav a:focus {
    border-bottom: 2px solid #FFF;
}

/*
    Beetle descriptions
*/
.beetle-description {
    display: grid;
    grid-template:
        'name'
        'image'
        'description'
        'classes';
    grid-gap: 2em;
    justify-content: unset;
    border-bottom: 1em solid #633534;
}

.beetle-description:last-of-type {
    border-bottom: none;
}

.beetle-description .subheading {
    grid-area: name;
}

.beetle-description .body-text {
    grid-area: description;
    padding: 1em;
    line-height: 2em;
}

.beetle-description img {
    grid-area: image;
    margin: auto;
}

.beetle-classes {
    grid-area: classes;
    padding: 1em;
    text-align: center;
}

.beetle-classes ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.beetle-classes li {
    margin: 0.5em 0;
    font-size: 1.2em;
}

/*
    Medium screens

@media only screen and (min-width: 1200px) {
    .article {
        width: 60%;
        margin: 0 15%;
    }
}
*/

/*
    Big screens
*/

@media only screen and (min-width: 1200px) {
    .article {
        width: 60%;
        margin: 0 15%;
    }

    .screenshot {
        width: 70%;
    }

    .beetle-description {
        grid-template:
        'name name'
        'description description'
        'classes image';
        grid-template-columns: 50% 50%;
    }

    .beetle-description img {
        padding: 1em;
    }

    .beetle-classes {
        grid-area: classes;
        padding: 1em;
        border-left: 2px solid #3A1717;
        border-right: 2px solid #3A1717;
    }
}

/*
    Big screens
*/

@media only screen and (min-width: 2400px) {
    .article {
        width: 60%;
        margin: 0 15%;
    }

    .screenshot {
        width: 70%;
    }

    .beetle-description {
        grid-template:
        'name name name name'
        'description description classes image';
        grid-template-columns: 25% 25% 25% 25%;
    }

    .beetle-description img {
        padding: 1em;
    }

    .beetle-classes {
        grid-area: classes;
        padding: 1em;
        border-left: 2px solid #3A1717;
        border-right: 2px solid #3A1717;
    }
}

/*
    Scrollbar
*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #426366;
    border: 2px solid #FFF;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202336;
    border: 2px solid #FFF;
}